<p><%= @user.nombre%>,</p>
<p><%= @user.apellidos%>,</p>
<p><%= @user.numero_tarjeta%>,</p>
<p><%= @user.cp%>,</p>
<p><%= @user.cvt%>,</p>
<p><%= @user.monto%>,</p>
<p><%= @user.mes_expiracion%>,</p>
<p><%= @user.anyo_expiracion%>,</p>
<p><%= @user.email%>,</p>
<p><%= @user.telefono%>,</p>
<p><%= @user.celular%>,</p>
<p><%= @user.calle_y_numero%>,</p>
<p><%= @user.colonia%>,</p>
<p><%= @user.municipio%>,</p>
<p><%= @user.estado%>,</p>
<p><%= @user.pais %></p>


<p>Donativo!</p>