


<% if @payment.pago_facil_errors %>
      <h4>Errores Pago Facil</h4>

      <%= @payment.pago_facil_errors %>

<% end %>



			<h3>Comprobante Donativo</h3>

			<h4>Donativo </h4>
			<h4><p>Monto</p></h4>
			<p>MONTO:$<%= @payment.monto%></p>
			<h4><p>Datos personales</p></h4>
			<p>NOMBRE: <%= @payment.nombre%></p>
			<p>APELLIDOS: <%= @payment.apellidos%></p>
			<p>EMAIL: <%= @payment.email%></p>
			<p>TELÉFONO: <%= @payment.telefono%></p>
			<p>CELULAR: <%= @payment.celular%></p>
			<h4><p>Dirección</p></h4>
			<p>CALLE Y NÚMERO: <%= @payment.calle_y_numero%></p>
			<p>COLONIA: <%= @payment.colonia%></p>
			<p>CODIGO POSTAL: <%= @payment.cp%></p>
			<p>MUNICIPIO: <%= @payment.municipio%></p>
			<p>ESTADO: <%= @payment.estado%></p>
			<p>PAIS: <%= @payment.pais %></p>


											


