


<% if @payment.response %>
      <h4>Errores Pago Facil</h4>
      <ul>
        <% @payment.response["WebServices_Transacciones"]["transaccion"]["error"].each do |key|%>              
        <li><%= key[0] %>: <%= key[1] %></li>
        <% end %>
      </ul>
<% end %>



		<p>Donativo </p>
		<h2><p>Monto</p></h2>
		<p>MONTO:$<%= @payment.monto%>,</p>
		<p>NÚMERO DE TARJETA: <%= @payment.numero_tarjeta%>,</p>
		<p> CVT: <%= @payment.cvt%>,</p>
		<p>MES DE EXPIRACIÓN: <%= @payment.mes_expiracion%>,</p>
		<p>AÑO DE EXPIRACIÓN: <%= @payment.anyo_expiracion%>,</p>
		<h2><p>Datos personales</p></h2>
		<p>NOMBRE: <%= @payment.nombre%>,</p>
		<p>APELLIDOS: <%= @payment.apellidos%>,</p>
		<p>EMAIL: <%= @payment.email%>,</p>
		<p>TELÉFONO: <%= @payment.telefono%>,</p>
		<p>CELULAR: <%= @payment.celular%>,</p>
		<h2><p>Dirección</p></h2>
		<p>CALLE Y NÚMERO: <%= @payment.calle_y_numero%>,</p>
		<p>COLONIA: <%= @payment.colonia%>,</p>
		<p>CODIGO POSTAL: <%= @payment.cp%>,</p>
		<p>MUNICIPIO: <%= @payment.municipio%>,</p>
		<p>ESTADO: <%= @payment.estado%>,</p>
		<p>PAIS: <%= @payment.pais %></p>


											


