<p>Donativo (es una prueba!!!) </p>
<h2><p>Monto</p></h2>
<p>MONTO:$<%= @user.monto%>,</p>
<p>NÚMERO DE TARJETA: <%= @user.numero_tarjeta%>,</p>
<p> CVT: <%= @user.cvt%>,</p>
<p>MES DE EXPIRACIÓN: <%= @user.mes_expiracion%>,</p>
<p>AÑO DE EXPIRACIÓN: <%= @user.anyo_expiracion%>,</p>
<h2><p>Datos personales</p></h2>
<p>NOMBRE: <%= @user.nombre%>,</p>
<p>APELLIDOS: <%= @user.apellidos%>,</p>
<p>EMAIL: <%= @user.email%>,</p>
<p>TELÉFONO: <%= @user.telefono%>,</p>
<p>CELULAR: <%= @user.celular%>,</p>
<h2><p>Dirección</p></h2>
<p>CALLE Y NÚMERO: <%= @user.calle_y_numero%>,</p>
<p>COLONIA: <%= @user.colonia%>,</p>
<p>CODIGO POSTAL: <%= @user.cp%>,</p>
<p>MUNICIPIO: <%= @user.municipio%>,</p>
<p>ESTADO: <%= @user.estado%>,</p>
<p>PAIS: <%= @user.pais %></p>

<%= @datos.response%>
										


