<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      La forma contiene <%= object.errors.count %>
      <%  if object.errors.count == 1 %>error<% else %>errores<%end%>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% if @payment.pago_facil_errors %>
  <% if @payment.pago_facil_errors.class != String || @payment.pago_facil_errors.class == nil %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <h4>Errores Pago Facil</h4>
        <ul>
          <% @payment.pago_facil_errors.each do |key|%>              
          <li><%= key[0] %>: <%= key[1] %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<% if @payment.pago_facil_errors.class == String %>
<%= @payment.pago_facil_errors %>

<% end %>